<!DOCTYPE html>
<head>
<title>Book Journal</title>
<link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
<div class="book-container">
<h2>Book Journal</h2>
<div class="book">
<form action="/" method="POST" class="book-header">
<input type="text" name="content">
<button type="submit"><span class="fas fa-plus"></span></button>
</form>
<ul class="book-list">
<li class="book-list-item">
<div class="book-list-item-name">Sample Book</div>
<a href="" class="edit">
<span class="fas fa-edit"></span>
</a>
<a href="" class="remove">
<span class="fas fa-times"></span>
</a>
</li>
</ul>
</div>
</div>
</body>